### 講座で使用するページ¶
https://scraping-for-beginner.herokuapp.com/

In [1]:
# 必要なライブラリ
from selenium import webdriver

In [2]:
browser = webdriver.Chrome('chromedriver.exe')
browser.get('https://scraping-for-beginner.herokuapp.com/ranking/')

## 1つの観光地の情報を取得

In [11]:
#観光地名の取得
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')

In [4]:
elem_rankingBox.text

'1\n観光地 1\n4.7\n楽しさ\n4.6\n満喫できた\n人混みの多さ\n4.5\nまぁまぁ混んでいた\n景色\n4.9\n目を疑う超絶景であった\nアクセス\n4.2\n船で2時間ほどであった'

In [15]:
# 目的の場所を特定するため、大きい枠から小さい枠へ絞り込んで特定する
elem_title= elem_rankingBox.find_element_by_class_name('u_title').find_element_by_tag_name('h2')
elem_title.text

'1\n観光地 1'

In [10]:
title = elem_title.text
title

'1\n観光地 1'

In [12]:
title.split('\n')[1]

'観光地 1'

## 総合評価の取得

In [3]:
# ランキング取得
elem_ranking= browser.find_element_by_class_name('u_rankBox')
elem_ranking = elem_ranking.find_element_by_class_name('evaluateNumber')
                   
elem_ranking.text

'4.7'

## 各項目の取得

In [25]:
# ランキング楽しさ
# classのis_rankは複数あるんで汎用性を考えて.find_elementsして複数の要素と取る
elem_ranking_tanoshisa=  browser.find_element_by_class_name('u_categoryTipsItem')
elem_ranking_tanoshisa=elem_ranking_tanoshisa.find_elements_by_class_name('is_rank')[0]
elem_ranking_tanoshisa = elem_ranking_tanoshisa.find_element_by_class_name('evaluateNumber')
elem_ranking_tanoshisa.text

'4.6'

In [26]:
# ランキング人込み
# classのis_rankは複数あるんで汎用性を考えて.find_elementsして複数の要素と取る
elem_ranking_hitogomi=  browser.find_element_by_class_name('u_categoryTipsItem')
elem_ranking_hitogomi=elem_ranking_hitogomi.find_elements_by_class_name('is_rank')[1]
elem_ranking_hitogomi = elem_ranking_hitogomi.find_element_by_class_name('evaluateNumber')
elem_ranking_hitogomi.text

'4.5'

In [27]:
# ランキング景色
# classのis_rankは複数あるんで汎用性を考えて.find_elementsして複数の要素と取る
elem_ranking_keshiki=  browser.find_element_by_class_name('u_categoryTipsItem')
elem_ranking_keshiki=elem_ranking_keshiki.find_elements_by_class_name('is_rank')[2]
elem_ranking_keshiki = elem_ranking_keshiki.find_element_by_class_name('evaluateNumber')
elem_ranking_keshiki.text

'4.9'

In [29]:
# ランキングアクセス
# classのis_rankは複数あるんで汎用性を考えて.find_elementsして複数の要素と取る
elem_ranking_acsess= browser.find_element_by_class_name('u_categoryTipsItem')
elem_ranking_acsess=elem_ranking_acsess.find_elements_by_class_name('is_rank')[3]
elem_ranking_acsess = elem_ranking_acsess.find_element_by_class_name('evaluateNumber')
elem_ranking_acsess.text

'4.2'

## 全ての観光地の情報を取得

### 観光地名

In [20]:
# 単独で取得できることを確認
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')
elem_title= elem_rankingBox.find_element_by_class_name('u_title').find_element_by_tag_name('h2')
elem_title.text

'1\n観光地 1'

In [21]:
# elementsにして複数を取得
elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')

In [22]:
# elementsで取得した数を確認
len(elems_rankingBox)

10

In [23]:
# elementsで取得したデータをスライスする
elem_rankingBox = elems_rankingBox[1]
elem_title= elem_rankingBox.find_element_by_class_name('u_title')
title = elem_title.text.split('\n')[1]
title

'観光地 2'

In [24]:
#全ての観光地名を格納するリスト titlesを用意
titles=[]

elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')
for elem_rankingBox in elems_rankingBox:
    elem_title= elem_rankingBox.find_element_by_class_name('u_title')
    title = elem_title.text.split('\n')[1]
    titles.append(title)

In [25]:
titles

['観光地 1',
 '観光地 2',
 '観光地 3',
 '観光地 4',
 '観光地 5',
 '観光地 6',
 '観光地 7',
 '観光地 8',
 '観光地 9',
 '観光地 10']

## 総合評価を一括で取得

In [26]:
# ランキングをelementsで取得
elem_rankings= browser.find_elements_by_class_name('u_rankBox')
elem_ranking = elem_rankings[2]
rank_title = elem_ranking.find_element_by_class_name('evaluateNumber')
rank_title.text

'4.6'

In [27]:
# for文で一括取得
elem_rankings= browser.find_elements_by_class_name('u_rankBox')
ranks=[]

for elem_ranking in elem_rankings:
    rank_title = elem_ranking.find_element_by_class_name('evaluateNumber')
    rank = float(rank_title.text)
    ranks.append(rank)
    
ranks

[4.7, 4.7, 4.6, 4.5, 4.5, 4.4, 4.3, 4.3, 4.2, 4.1]

## 各項目を一括で取得

In [28]:
# ランキング楽しさを単独で取得
# classのis_rankは複数あるんで汎用性を考えて.find_elementsして複数の要素と取る
elem_ranking_tanoshisa=  browser.find_element_by_class_name('u_categoryTipsItem')
elem_ranking_tanoshisa=elem_ranking_tanoshisa.find_elements_by_class_name('is_rank')[0]
elem_ranking_tanoshisa = elem_ranking_tanoshisa.find_element_by_class_name('evaluateNumber')
elem_ranking_tanoshisa.text

'4.6'

In [29]:
# 1つの観光地から項目をすべてとる
_ranks = []
elem_ranking_items_all =  browser.find_elements_by_class_name('u_categoryTipsItem')
elem_ranking_items = elem_ranking_items_all[0].find_elements_by_class_name('is_rank')
for elem_ranking_item in elem_ranking_items:    
    elem_title = elem_ranking_item.text
    _ranks.append(elem_title)    

_ranks

['4.6', '4.5', '4.9', '4.2']

In [30]:
# listを作成し、全ての項目を一括で取得
items =[]
elem_ranking_items_all =  browser.find_elements_by_class_name('u_categoryTipsItem')
for elem_ranking_items in elem_ranking_items_all:
    elem_ranking_items1 =elem_ranking_items.find_elements_by_class_name('is_rank')
    _ranks = []
    for elem_ranking_item in elem_ranking_items1:    
        elem_title = elem_ranking_item.text
        _ranks.append(float(elem_title)) 
    items.append(_ranks)

In [31]:
items

[[4.6, 4.5, 4.9, 4.2],
 [4.6, 4.5, 4.9, 4.2],
 [4.5, 4.4, 4.8, 4.1],
 [4.4, 4.4, 4.8, 4.0],
 [4.4, 4.3, 4.7, 4.0],
 [4.3, 4.3, 4.7, 3.9],
 [4.2, 4.2, 4.6, 3.8],
 [4.2, 4.2, 4.6, 3.8],
 [4.1, 4.1, 4.5, 3.7],
 [4.0, 4.1, 4.4, 3.6]]

### pandasの形式に変換

In [32]:
import pandas as pd

In [33]:
df = pd.DataFrame()

In [34]:
df['観光地名'] = titles
df['総合評価'] = ranks

In [35]:
df

     観光地名  総合評価
0   観光地 1   4.7
1   観光地 2   4.7
2   観光地 3   4.6
3   観光地 4   4.5
4   観光地 5   4.5
5   観光地 6   4.4
6   観光地 7   4.3
7   観光地 8   4.3
8   観光地 9   4.2
9  観光地 10   4.1

In [36]:
df_categories = pd.DataFrame(items)
df_categories.columns=['楽しさ','人混みの多さ','景色','アクセス']
df_categories

   楽しさ  人混みの多さ   景色  アクセス
0  4.6     4.5  4.9   4.2
1  4.6     4.5  4.9   4.2
2  4.5     4.4  4.8   4.1
3  4.4     4.4  4.8   4.0
4  4.4     4.3  4.7   4.0
5  4.3     4.3  4.7   3.9
6  4.2     4.2  4.6   3.8
7  4.2     4.2  4.6   3.8
8  4.1     4.1  4.5   3.7
9  4.0     4.1  4.4   3.6

In [37]:
df =pd.concat([df,df_categories], axis=1)
df

     観光地名  総合評価  楽しさ  人混みの多さ   景色  アクセス
0   観光地 1   4.7  4.6     4.5  4.9   4.2
1   観光地 2   4.7  4.6     4.5  4.9   4.2
2   観光地 3   4.6  4.5     4.4  4.8   4.1
3   観光地 4   4.5  4.4     4.4  4.8   4.0
4   観光地 5   4.5  4.4     4.3  4.7   4.0
5   観光地 6   4.4  4.3     4.3  4.7   3.9
6   観光地 7   4.3  4.2     4.2  4.6   3.8
7   観光地 8   4.3  4.2     4.2  4.6   3.8
8   観光地 9   4.2  4.1     4.1  4.5   3.7
9  観光地 10   4.1  4.0     4.1  4.4   3.6

In [83]:
df.to_csv('観光地情報.csv', index=False)

## 全ページの情報を取得

In [87]:
i =2
'https://scraping-for-beginner.herokuapp.com/ranking/?page={}'.format(i)

'https://scraping-for-beginner.herokuapp.com/ranking/?page=2'

In [102]:
titles= []
ranks = []
items =[]

for page in range(1,4):
    url = 'https://scraping-for-beginner.herokuapp.com/ranking/?page={}'.format(page)
    browser.get(url)

    #観光地名
    elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')
    for elem_rankingBox in elems_rankingBox:
        elem_title= elem_rankingBox.find_element_by_class_name('u_title')
        title = elem_title.text.split('\n')[1]
        titles.append(title)

    #総合評価
    elem_rankings= browser.find_elements_by_class_name('u_rankBox')
    for elem_ranking in elem_rankings:
        rank_title = elem_ranking.find_element_by_class_name('evaluateNumber')
        rank = float(rank_title.text)
        ranks.append(rank)

    #各項目    
    elem_ranking_items_all =  browser.find_elements_by_class_name('u_categoryTipsItem')
    for elem_ranking_items in elem_ranking_items_all:
        elem_ranking_items1 =elem_ranking_items.find_elements_by_class_name('is_rank')
        _ranks = []
        for elem_ranking_item in elem_ranking_items1:    
            elem_title = elem_ranking_item.text
            _ranks.append(float(elem_title)) 
        items.append(_ranks)

In [103]:
titles

['観光地 1',
 '観光地 2',
 '観光地 3',
 '観光地 4',
 '観光地 5',
 '観光地 6',
 '観光地 7',
 '観光地 8',
 '観光地 9',
 '観光地 10',
 '観光地 11',
 '観光地 12',
 '観光地 13',
 '観光地 14',
 '観光地 15',
 '観光地 16',
 '観光地 17',
 '観光地 18',
 '観光地 19',
 '観光地 20',
 '観光地 21',
 '観光地 22',
 '観光地 23',
 '観光地 24',
 '観光地 25',
 '観光地 26',
 '観光地 27',
 '観光地 28',
 '観光地 29',
 '観光地 30']